/*Global*/
:root {
    /*Color*/
    --color-white: #ffffff;
    --color-dark-white: #eeeeee;
    --color-pink-white: #fbe9e7;
    --color-pink: #f06292;
    --color-dark-pink: #ba2d65;
    --color-deep-pink: #78002e;
    --color-light-grey: #bdbdbd;
    --color-grey: #616161;
    --color-deep-grey: #212121;
    --color-deep-black: #000000;
    --color-light-yellow: #fff59d;
    --color-light-orange: #ffa726;

    /*Font size*/
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /*Font weight*/
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /*Size*/

}

/*Universal tags*/
* {
    box-sizing: border-box;
}

/*Typography*/
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-pink);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-pink);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-pink);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-pink);
    margin: 4px 0;
}
body {
    margin: 0;
    font-family: "Roboto Light";

}

a {
    text-decoration: none;
    color: var(--color-pink);
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:url("img/home_background.png");
    background-repeat: no-repeat;
    padding: 20px 50px;
}

.navbar__logo {
    font-size: 24px;
    justify-content: center;
    align-items: center;
}


.navbar__logo img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

.navbar__logo li {
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: var(--color-dark-pink);
    border-radius: 4px;
}

.navbar__icon {
    list-style: none;
    color: var(--color-pink));
    display: flex;
    padding-left: 0;
}

.navbar__icon li {
    padding: 8px 12px;
}

.navbar__icon li:hover {
    background-color: var(--color-pink);
    color: var(--color-pink-white);
    border-radius: 4px;
}

.navbar__contents {
    display: block;
    list-style: none;
}

.navbar__contents #Me {
    width : 200px;
    border-radius: 50%;
}